<div class="row">
    <div class="col">
    <img src="/stylesheets/img/elaine.jpg" class="card-img-top" alt="..">
    </div>
    <div class="col">
    <div class="card-body-center text-a">
      <h5 class="card-title">Sugestão de pessoa</h5>
      <p class="card-text">Descrição da pessoa: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa esse reprehenderit quos officia qui voluptatum consequatur quasi, a, autem explicabo aliquam expedita quia ab amet doloribus aut nam quam eum.</p>
      <a href="#" class="btn btn-primary">Entrar em contato</a>
    </div>
  </div>
</div>
</div>