<div class="row">
    <div class="col">
    <img src="/stylesheets/img/elaine.jpg" class="card-img-top" alt="..">
    </div>
    <div class="col">
    <div class="card-body-center text-a">
      <h5 class="card-title">clarisse</h5>
      <p class="card-text">jogar volei fvffttggtrhrrergtrgtgggggggggggggg, 19git.</p>
      <a href="#" class="btn btn-primary">Entrar em contato</a>
    </div>
  </div>
</div>
</div>""