x
<div class="row">
    <div class="col">
        <img src="/stylesheets/img/mulher.jpg" class="card-img-top" alt="...">
    </div>
    <div class="col">
        <div class="card-body-center text-a">
            <h5 class="card-title">Marta</h5>
            <p class="card-text">Meu nome é Marta, tenho 32 anos, pratico caminhada, fut-volei com frequencia. Moro no Rio de Janeiro e costumo praticar atividades fisicas diariamente. Procuro parceiros para todas as minhas atividades em comum e tenho disponibilidade para
                praticar todos os dias apos as 18h00.</p>
            <a href="#" class="btn btn-primary">Entrar em Contato</a>
        </div>
    </div>
</div>
</div>