<div id="pessoas" class="container-fluid">

    <%- include ("../partials/componentePessoa.ejs") %>

        <div class="mx-auto btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-primary">1</button>
                <button type="button" class="btn btn-primary">2</button>
                <button type="button" class="btn btn-primary">3</button>
                <button type="button" class="btn btn-primary">...</button>
                <button type="button" class="btn btn-primary">20</button>
                <button type="button" class="btn btn-primary">21</button>
                <button type="button" class="btn btn-primary">22</button>
            </div>
        </div>
</div>