<div class="p-3 border" style="background-color:snow;"><!-- Example single danger button -->
    <nav class="navbar navbar-light"> <!--barra de pesquisa-->
        <div class="btn-group"> <!-- Pessoas -->
            <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Pessoas
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Pessoa A</a></li>
              <li><a class="dropdown-item" href="#">Pessoa B</a></li>
              <li><a class="dropdown-item" href="#">Pessoa C</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div>
        <div class="btn-group"> <!-- Estados -->
          <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Estados
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Estado 1</a></li>
            <li><a class="dropdown-item" href="#">Estado 2</a></li>
            <li><a class="dropdown-item" href="#">Estado 3</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
      </div>
        <div class="btn-group">  <!-- Cidades -->
            <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Cidades
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Cidade 1</a></li>
              <li><a class="dropdown-item" href="#">Cidade 2</a></li>
              <li><a class="dropdown-item" href="#">Cidade 3</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div>
        <div class="btn-group">  <!-- Esporte -->
            <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Esporte
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Esporte A</a></li>
              <li><a class="dropdown-item" href="#">Esporte B</a></li>
              <li><a class="dropdown-item" href="#">Esporte C</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div> 
        <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
    </nav>
  </div><!--dropdwns-->