<div class="p-3 border" style="background-color:snow;">
    <!-- Example single danger button -->
    <nav class="navbar navbar-light">
        <!--barra de pesquisa-->

        <div class="btn-group">
            <!-- Estados -->
            <select id="estados" class="form-select  btn-success" aria-label="Default select example">
                <option selected>Estado</option>
                
              </select>
        </div>
        <div class="btn-group">
            <!-- Cidades -->
            <select id="cidades" class="form-select  btn-success" aria-label="Default select example">
                <option selected>Cidade</option>
                
              </select>
        </div>
        <div class="btn-group">
            <!-- Esporte -->
            <select class="form-select  btn-success" aria-label="Default select example">
                <option selected>Esporte</option>
                <option value="1">Esporte1</option>
                <option value="2">Esporte2</option>
                <option value="3">Esporte3</option>
              </select>
        </div>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
    </nav>
</div>
<!--dropdwns-->