<!-- Example single danger button -->
<!--barra de pesquisa-->
<div class="row mt-5">
    <div class="col-2">
        <!-- Estados -->
        <select id="estados" class="form-select  btn-success" aria-label="Default select example">
                <option selected>Estado</option>
                
              </select>
    </div>
    <div class="col-2">
        <!-- Cidades -->
        <select id="cidades" class="form-select  btn-success" aria-label="Default select example">
                <option selected>Cidade</option>
                
              </select>
    </div>
    <div class="col-2">
        <!-- Esporte -->
        <select class="form-select  btn-success" aria-label="Default select example">
                <option selected>Esporte</option>
                <option value="1">Esporte1</option>
                <option value="2">Esporte2</option>
                <option value="3">Esporte3</option>
              </select>
    </div>
    <div class="col-3">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
    </div>
    <div class="col-3">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
    </div>
</div>
<!--dropdwns-->