<footer class="pt-4 my-md-1 pt-md-1 border-top bg-dark">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; 2021</small>
        </div>
        <div class="col-6 col-md">
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Sobre nós</a></li>

            </ul>
        </div>
        <div class="col-6 col-md">
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Contatos</a></li>

            </ul>
        </div>
        <div class="col-6 col-md">

            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Pessoas</a></li>
            </ul>
        </div>

        <div class="col-6 col-md">
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Competições</a></li>
            </ul>
        </div>

        <div class="col-6 col-md">
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Esportes</a></li>
            </ul>
        </div>

    </div>
</footer>