<div class="row  pt-4 my-md-1 pt-md-1 border-top bg-dark">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">&copy; 2017–2021</small>
    </div>
    <div class="col-6 col-md">
      <h5>Saiba mais</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Futebol</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Golf</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Vôlei</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Tênis</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Atletismo </a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Futsal</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Fique por dentro</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Contatos</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Passeios Esportivos</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Sustentabilidade</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Fique por dentro</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Veja também</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Guia do Esporte</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Para a empresas</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Quem somos</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Suporte</a></li>
      </ul>
    </div>
  </div>