<div class="row bg-dark">
    <div class="col-4">
        <h5>Inicio</h5>
        <ul>
            <li><a href="https://programadorviking.com.br/">Home</a></li>
            <li>
                <a href="https://bit.ly/front-end-curso-completo-promocao-01">Cursos</a
          >
        </li>
        <li><a href="https://programadorviking.com.br/">Downloads</a></li>
        </ul>
    </div>
    <div class="col-4">
        <h5>Sobre nós</h5>
        <ul>
            <li>
                <a href="https://programadorviking.com.br/">Informações da Empresa</a>
            </li>
            <li><a href="https://programadorviking.com.br/">Contato</a></li>
            <li><a href="https://programadorviking.com.br/">Blog</a></li>
        </ul>
    </div>
    <div class="col-4">
        <h5>Suporte</h5>
        <ul>
            <li><a href="https://programadorviking.com.br/">FAQ</a></li>
            <li><a href="https://programadorviking.com.br/">Telefones</a></li>
            <li><a href="https://programadorviking.com.br/">Chat</a></li>
        </ul>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#id_tabela').DataTable();
    });
</script>
<script src="/js/estados.js"></script>
<script src="/js/cidades.js"></script>
<script src="/js/equipes.js"></script>