<div class="p-3 border" style="background-color: rgb(36, 124, 224)">
  <nav class="navbar navbar-flex" >
    <p class="text-center ">
        <a class="text-white">
            <h1> Sport Match</h1>
        </a>
    </p>
  </nav>
</div>

