    /* GLOBAL STYLES
-------------------------------------------------- */
    /* Padding below the footer and lighter body text */
    
    .mt-5 {
        margin-top: 5rem!important;
    }
    
    body {
        color: #5a5a5a;
    }
    /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
    /* Carousel base class */
    
    .carousel {
        margin-bottom: 4rem;
    }
    /* Since positioning the image, we need to help out the caption */
    
    .carousel-caption {
        bottom: 3rem;
        z-index: 10;
    }
    /* Declare heights because of positioning of img element */
    
    .carousel-item {
        height: 32rem;
    }
    
    .carousel-item>img {
        position: absolute;
        float: left;
        top: 0;
        right: 0;
        min-width: 100%;
        height: 32rem;
    }
    
    .form-inline {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    /* MARKETING CONTENT
  -------------------------------------------------- */
    /* Center align the text within the three columns below the carousel */
    
    .marketing .col-lg-4 {
        margin-bottom: 1.5rem;
        text-align: center;
    }
    
    .marketing h2 {
        font-weight: 400;
    }
    
    .marketing .col-lg-4 p {
        margin-right: .75rem;
        margin-left: .75rem;
    }
    /* Featurettes
  ------------------------- */
    
    .featurette-divider {
        margin: 5rem 0;
        /* Space out the Bootstrap <hr> more */
    }
    /* Thin out the marketing headings */
    
    .featurette-heading {
        font-weight: 300;
        line-height: 1;
    }
    /* RESPONSIVE CSS
  -------------------------------------------------- */
    
    @media (min-width: 40em) {
        /* Bump up size of carousel content */
        .carousel-caption p {
            margin-bottom: 1.25rem;
            font-size: 1.25rem;
            line-height: 1.4;
        }
        .featurette-heading {
            font-size: 50px;
        }
    }
    
    @media (min-width: 62em) {
        .featurette-heading {
            margin-top: 7rem;
        }
    }
    /* PRECO E RODAPE
  -------------------------------------------------- */
    
    html {
        font-size: 14px;
    }
    
    @media (min-width: 768px) {
        html {
            font-size: 16px;
        }
    }
    /* PREÇO E RODAPE PAGINA PROCURAR PESSOAS
  -------------------------------------------------- */
    
    .container {
        max-width: 960px;
    }
    
    .pricing-header {
        max-width: 700px;
    }
    
    .card-deck .card {
        min-width: 220px;
    }
    /* PREÇO E RODAPE PAGINA PROCUARAR PESSOAS
  -------------------------------------------------- */
    
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
    
    .form-signin .checkbox {
        font-weight: 400;
    }
    
    .form-signin .form-floating:focus-within {
        z-index: 2;
    }
    
    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    
    .btn-toolbar {
        margin-top: 1%;
        position: relative;
    }
    
    .form-signin {
        margin-top: 15%;
    }
    
    .card {
        margin: 1%;
    }
    
    .img-thumbnail {
        width: 8%;
        height: 15%;
        margin: 1%;
        margin-left: 0%;
    }
    
    .dropdown {
        margin-left: 30%;
        margin-top: 0%;
    }
    
    .border {
        background-color: rgb(69, 123, 221);
    }
    
    .table-borderless {
        background-image: linear-gradient(to right, rgb(96, 140, 233), rgb(60, 93, 243));
    }
    
    #cdequipe {
        margin-left: 25%;
        margin-top: 10%;
    }
    
    #brcadastro {
        margin-left: 25%;
    }
    
    #tabela {
        width: 50%;
    }
    
    .input-append {
        align-items: unset;
    }
    
    #equip {
        margin-top: 25%;
    }
    
    #textd {
        background-image: linear-gradient(to right, rgba(90, 164, 194, 0.89), rgb(60, 93, 243));
    }
    
    #contt {
        margin-top: 20%;
        background-color: aliceblue;
        border-radius: 10px;
    }
    
    #corbody {
        background-color: #99CED4;
        ;
    }
    
    #centerf {
        margin: 10%;
        margin-left: 25%;
        background-color: aliceblue;
        border-radius: 10px;
    }
    
    #botao {
        margin: 8%;
        margin-left: 40%;
    }
    
    #contt {
        margin-block-end: 15%;
    }
    
    #equipert {
        margin-left: 25%;
    }
    
    #torneiof {
        margin-left: 15%;
    }