<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <%
  var results = JSON.parse('[{"nome":"Silvio ","idade":32,"sexo":"masculino","esporte":["caminhada"],"endereco":"44 rue Demy Shilester","nivelEsportivo":"amador"},{"nome":"Liliane","idade":25,"sexo":"feminino","esporte":["bicicleta","caminhada","vôlei"],"endereco":"rua bernado","nivelEsportivo":"amador"}]') %>

</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.nome %> - <%= r.sexo %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
