<html lang="pt-br">

<head>
    <%- include ("../partials/head.ejs") %>
</head>


<body>

    <header>
        <%- include ("../partials/header.ejs") %>
    </header>

    <main>


        <%- include ("../partials/carousel.ejs") %>

            <!-- Marketing messaging and featurettes
  ================================================== -->
            <!-- Wrap the rest of the page in another container to center all the content. -->

            <div class="container marketing">

                <!-- Three columns of text below the carousel -->
                <div class="row">
                    <div class="col-lg-4">
                        <img src="/stylesheets/img/pessoas2.png" class="bd-placeholder-img rounded-circle" width="140" height="140" />
                        <h2>Pessoas</h2>
                        <p>Encontre uma pessoa para pratica esporte junto.</p>
                        <p><a class="btn btn-secondary" href="buscaPessoas">Mais detalhes &raquo;</a></p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img src="/stylesheets/img/trofeu.png" class="bd-placeholder-img rounded-circle" width="140" height="140" />
                        <h2>Competições</h2>
                        <p>Encontre uma competição para participar.</p>
                        <p><a class="btn btn-secondary" href="/buscaCampeonato">Mais detalhes &raquo;</a></p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img src="/stylesheets/img/equipes.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" />
                        <h2>Equipes</h2>
                        <p>Encontre uma equipe para fazer parte dela.</p>
                        <p><a class="btn btn-secondary" href="#">Mais detalhes &raquo;</a></p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img src="/stylesheets/img/esportes.png" class="bd-placeholder-img rounded-circle" width="140" height="140" />
                        <h2>Esporte</h2>
                        <p>Encontre um esporte que tenha interesse de praticar.</p>
                        <p><a class="btn btn-secondary" href="buscaEsportes">Mais detalhes &raquo;</a></p>
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
            </div>
            <!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Publicidade 1</h2>
                    <h3 class="text-muted"> Academia E.V.O</h3>
                    <p class="lead">Cansado de treinos monotonos e com resultados a longo prazo? Na Academia E.V.O você encontra professores e equipamentos especializados, aulas diferenciadas e acopanhamento nutricional e de resultados. Venha já para a academia E.V.O
                        e faça uma aula experimental gratis. Você concerteza vai querer fazer parte de nosso time.
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="/stylesheets/img/propaganda.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" />
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Publicidade 2</h2>
                    <h3 class="text-muted"> Restaurante Cantinho da Vó Zeza.</h3>
                    <p class="lead">O restaurante Cantinho da Vó Zeza serve diariamente refeições caseiras saudáveis, comidas frescas e da melhor qaulidade em um ambiente aconchegante. Venha provar nossas delicias. Nosso horario de funcionamento é de segunda a sexta
                        das 11h00 as 14h30 e das 17h30 as 21h30.
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="/stylesheets/img/propagandasaudavel.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" />
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Publicidade 3</h2>
                    <h3 class="text-muted"> Power Fight Artigos Esportivos</h3>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt odit fugiat animi nulla repudiandae. Ex eius natus nesciunt facere vitae animi provident veritatis ea perspiciatis? Consequuntur enim vitae inventore optio!</p>
                </div>
                <div class="col-md-5">
                    <img src="/stylesheets/img/propagandaloja.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" />

                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

            </div>
            <!-- /.container -->
    </main>
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">

            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">

                <h1 class="display-4 fw-normal text">Planos</h1>
            </div>
    </header>

    <main>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Básico</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">R$ 10,00<small class="text-muted fw-light">/mês</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Inscrição em até 03 modalidades esportivas</li>
                                <li>Inscrição em até 01 competição</li>
                                <li>Criação de até 01 competição</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-primary">Contratar</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-primary">
                        <div class="card-header py-3 text-white bg-primary border-primary">
                            <h4 class="my-0 fw-normal">Pro</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">R$ 15,00<small class="text-muted fw-light">/mês</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Inscrição ilimitada em modalidades esportivas</li>
                                <li>Inscrição ilimitada em competição</li>
                                <li>Acesso as informações completas das praticas esportivas</li>
                                <li>Criação de competições ilimitadas</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-primary">Contratar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <!--Rodape-->
        <%- include ("../partials/footer.ejs") %>
    </footer>

</body>

</html>