<!doctype html>
<html lang="en">

<head>
    <%- include ("../partials/head.ejs") %>

</head>

<body class="bg-light">
    <header>
        <%- include ("../partials/header.ejs") %>
    </header>
    <main>
        <div class="container" id="contda">
            <div class="row mt-5">
                <div class="col md-1">
                    <h2>Edite seu perfil</h2>
                    <img src="stylesheets/img/pessoa1.jpg" class="bd-placeholder-img rounded-circle " width="160" height="160" />
                    <p>Usuario:llllllll@gmail.com</p>



                </div>

                <div class="col md-1" id="formm">

                    <img src="/stylesheets/img/whatsappLogo.jpg" alt="..." class="img-thumbnail">
                    <input class="form-check-label mr-sm-2" type="search" placeholder="Whatsapp" aria-label="Pesquisar"><br>

                    <img src="/stylesheets/img/instagramLogo.jpg" alt="..." class="img-thumbnail" id="formaimag">
                    <input class="form-check-label mr-sm-2" type="search" placeholder="Instagram" aria-label="Pesquisar">
                </div>


                <!-- /.col-lg-4 -->
            </div>

            <div class="col md-1">
                <form class="needs-validation" method="POST" action="/paginaCadastro" novalidate>
                    <div class="row g-5">
                        <div class="col-sm-9">
                            <label for="firstName" class="form-label">Nome:</label>
                            <input type="text" name="nome" class="form-control" id="firstName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col">
                            <label for="firstEndereco" class="form-label">Endereço:</label>
                            <div class="row">
                                <div class="col">
                                    <!-- Estados -->
                                    <select id="estados" class="form-select  btn-primary" aria-label="Default select example">
                                                <option selected>Estado</option>
                                                
                                              </select>
                                </div>
                                <div class="col">
                                    <!-- Cidades -->
                                    <select id="cidades" class="form-select   btn-primary " aria-label="Default select example">
                                                <option selected>Cidade</option>
                                                
                                              </select>
                                </div>

                            </div>
                            <div class="row">
                                <label for="firstName" class="form-label">Rua:</label>
                                <input type="text" name="nome" class="form-control" id="firstName" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    É necessário digitar a rua.
                                </div>
                            </div>
                        </div>
                        <hr class="my-4">
                        <div class="mb-9">
                            <label for="exampleFormControlTextarea1" class="form-label">Descrição</label>
                            <textarea class="form-control" name="descricao" id="exampleFormControlTextarea1" rows="7"></textarea>
                        </div>
                        <div class="full-box">
                            <button class="w-50 btn btn-lg btn-primary" id="brcadastro" type="submit">Atualizar perfil do usuário</button>
                        </div>
                    </div>

                    <div id="botao">
                        <p><a class="btn btn-primary" href="/cadastroEquipes">cadastro de Equipes</a></p>
                        <p><a class="btn btn-primary" href="/cadastroTorneios">Cadastro de Torneios</a></p>

                    </div>

                </form>


    </main>

    <footer>
        <!--Rodape-->
        <%- include ("../partials/footer.ejs") %>
    </footer>

</body>

</html>