<!doctype html>
<html lang="en">

<head>
    <%- include ("../partials/head.ejs") %>

</head>

<body class="bg-light">
    <header>
        <%- include ("../partials/headcadastro.ejs") %>
    </header>

    <div class="row mt-5">
        <%- include ("../partials/tituloCadastro.ejs") %>
    </div>
    <div class="container">
        <main>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Botão dropdown
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Alguma ação</a>
                    <a class="dropdown-item" href="#">Outra ação</a>
                    <a class="dropdown-item" href="#">Alguma coisa aqui</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h2>Edite seu perfil</h2>
                    <img src="stylesheets/img/imagemperfil.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" />
                    <p>Usuario:llllllll@gmail.com</p>


                </div>

                <form class="form-inline">
                    <img src="/stylesheets/img/whatsappLogo.jpg" alt="..." class="img-thumbnail">
                    <input class="form-check-label mr-sm-2" type="search" placeholder="Whatsapp" aria-label="Pesquisar">
                </form><br/>



                <form class="form-inline">
                    <img src="/stylesheets/img/instagramLogo.jpg" alt="..." class="img-thumbnail">
                    <input class="form-check-label mr-sm-2" type="search" placeholder="Instagram" aria-label="Pesquisar">
                </form>


                <!-- /.col-lg-4 -->
            </div>

            <!-- Quadro de Escolhas de Equipes -->

            <div class="row g-5">
                <div class="col-md-6 col-lg-6 order-md-last">



                    <div class="input-append">
                        <td>Nova equipe</td>
                        <input type="text" class="input-medium  search-query " name="equipes" id="tabela" placeholder="Digite sua equipe" value="">
                        <button id="close" class="closing  btn-success" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg " viewBox="0 0 16 16">
                                <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
                              </svg></button>
                    </div>


                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-primary"> Máximo 10 Equipes </span>
                        <span class="badge bg-primary rounded-pill"></span>
                    </h4>


                    <div>



                        <table id="table_id" class="table table-borderless" name="equipesbd">

                            <thead>
                                <tr>
                                    <th>Identificador</th>
                                    <th>Nome</th>
                                    <tr>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                    </div>
                    <div class="full-box">
                        <button class="w-50 btn btn-lg btn-primary" id="cdequipe" type="submit">Cadastrar Equipes</button>
                    </div>

                </div>

                <!---fim das colunas-->


                <!--começo das opções-->
                <div class="col-md-3 col-lg-6">
                    <form class="needs-validation" method="POST" action="/paginaCadastro" novalidate>
                        <div class="row g-5">
                            <div class="col-sm-9">
                                <label for="firstName" class="form-label">Nome:</label>
                                <input type="text" name="nome" class="form-control" id="firstName" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>

                            <div class="col-9">
                                <label for="firstEndereco" class="form-label">Endereço:</label>
                                <div class="input-group has-validation">
                                    <input type="text" name="endereco" class="form-control" id="firstEndereco" placeholder="" value="" required>
                                    <div class="invalid-feedback">
                                        Valid first name isdsfasdfd.
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEstado">Cidade : </label>
                                    <select name="estado" id="inputEstado" class="form-control">
                                      <option selected>Escolher...</option>
                                      <option value="AC">Acre</option>
                                        <option value="AL">Alagoas</option>
                                        <option value="AP">Amapá</option>
                                        <option value="AM">Amazonas</option>
                                        <option value="BA">Bahia</option>
                                        <option value="CE">Ceará</option>
                                        <option value="DF">Distrito Federal</option>
                                        <option value="ES">Espírito Santo</option>
                                        <option value="GO">Goiás</option>
                                        <option value="MA">Maranhão</option>
                                        <option value="MT">Mato Grosso</option>
                                        <option value="MS">Mato Grosso do Sul</option>
                                        <option value="MG">Minas Gerais</option>
                                        <option value="PA">Pará</option>
                                        <option value="PB">Paraíba</option>
                                        <option value="PR">Paraná</option>
                                        <option value="PE">Pernambuco</option>
                                        <option value="PI">Piauí</option>
                                        <option value="RJ">Rio de Janeiro</option>
                                        <option value="RN">Rio Grande do Norte</option>
                                        <option value="RS">Rio Grande do Sul</option>
                                        <option value="RO">Rondônia</option>
                                        <option value="RR">Roraima</option>
                                        <option value="SC">Santa Catarina</option>
                                        <option value="SP">São Paulo</option>
                                        <option value="SE">Sergipe</option>
                                        <option value="TO">Tocantins</option>
                                 </select>
                                </div>
                            </div>
                            <hr class="my-4">
                            <div class="mb-9">
                                <label for="exampleFormControlTextarea1" class="form-label">Descrição</label>
                                <textarea class="form-control" name="descricao" id="exampleFormControlTextarea1" rows="7"></textarea>
                            </div>
                            <div class="full-box">
                                <button class="w-50 btn btn-lg btn-primary" id="brcadastro" type="submit">Cadastrar</button>
                            </div>
                        </div>

                        <hr class="my-4">
                        <div>
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary">Novo Torneio</span>
                                <span class="badge bg-primary rounded-pill"></span>
                            </h4>


                    </form>

        </main>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Torneio:</th>
                    <th scope="col">Nome Torneio</th>
                    <th scope="col">Equipe </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>Torneio</td>
                    <td>Torneio da Serra</td>
                    <td>Equipe 1</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Torneio</td>
                    <td>Torneio de BH</td>
                    <td>Equipe 2</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Torneio</td>
                    <td>Torneio de SP</td>
                    <td>Equipe 3</td>
                </tr>
            </tbody>
        </table>
        <div class="full-box">
            <button class="w-50 btn btn-lg btn-primary" type="submit">Cadastrar</button>
        </div>

        </div>

        <footer>
            <!--Rodape-->
            <%- include ("../partials/footer.ejs") %>
        </footer>

</body>
<script>
    var counter = 1;
    $(document).ready(function() {
        $('#table_id').DataTable();
        var t = $('#table_id').DataTable();
        $('#close').on('click', function() {
            if (counter <= 10) {
                var row = t.row.add([counter, $('#tabela').val()]).draw(false);
                counter++;
            }
        });

    });
</script>

</html>